@media screen and (max-width: 768px)	{

	.trusty_deposit_fiat_fullscreen {

		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 2000;

		&.no_order {
			position: static;
			.trusty_deposit_fiat {
				padding: 0;
			}
		}

		._input_space {
			border: none!important;
		}

		.cryptobot_header {
			position: absolute!important;

		}

		.trusty_deposit_fiat {
			padding: 0 3.6vw;
		}

	  .modal_content {
	    padding-top: 10vw;
	    padding-bottom: 10vw;
	    background: black;
	  }

	  .trusty_input_container {

	  	.trusty_place_holder{
	  		position: relative!important;
	  		bottom: 0.6vw;
	  	}
	  	._right_space {
	  		bottom: auto!important;
	  		text-align: right;
				._right_slash {
					font-weight: bolder!important;
					height: 5.4vw !important;
					margin-bottom: 0.5vw!important;
				}
			}

	    ._simple_text_left {
	      height: 5.4vw!important;
	    }
	  }

	  .trusty_ps_text {
	    font-size: 3.3vw;
	    margin: 3.8vw 0;
	    line-height: 4.3vw;
	    font-family: Gotham_Pro;
	    text-align: center;
	    color: white;
	  }

		background-color: #1e2225 !important;
		.modal-overlay.is-active {
			position: fixed;
			#trusty_modal_deposit {
				background: transparent;
				padding-left: 0;
				padding-right: 0;
				padding-top: 0;
				._inner {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					background: black;
					margin-left: 1.8vw;
					margin-right: 1.8vw;
					padding-left: 2.5vw;
					padding-right: 2.5vw;
					padding-bottom: 4vw;
					p {
						text-align: center;
						font-family: Gotham_Pro;
						padding: 9vw 0 6vw 0;
						font-size: 7vw;
						margin-bottom: 0;
						line-height: 9vw;
					}
				}
			}
		}
	}

	.trusty_deposit_timer {
	    padding-top: 50%;
	    padding-left: 5vw;
	    padding-right: 5vw;
	}

	._deposit_help_text {
		text-align: center;
		text-transform: uppercase;
		font-family: "Gotham_Pro_Regular";
		font-size: 4vw;
	}

	.deposit_paddings{
		padding-top: 12vw;
		padding-left: 3.6vw;
		padding-right: 3.6vw;
	}

}

