$desk_font_button: 1.2vw;

.trusty_full_width_button_colored {
	background-color: #fff;
	color: black;
	font-family: Gotham_Pro_Medium;
	text-align: center;
    margin-top: 2vw;
    width: 100%;
    @include trusty_mobile_button_not_width;
}


.trusty_inline_button {

	text-align: center;

	button {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 70vw;
		margin: initial;
		background-color: #fff;
		color: black;
		@include trusty_mobile_button_not_width;

		&.wide {
			width: 92vw;
		}
	}
}

.trusty_inline_button_reverse{
	text-align: center;
	button {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 70vw;
		margin: initial;
		@include trusty_mobile_button_not_width;
		&.wide {
			width: 92vw;
		}
	}
}

.trusty_inline_buttons {

	text-transform: uppercase;
	display: block;
	text-align: center;
	overflow: initial;
	display: flex;
	justify-content: space-between;

	&._one_button {
		padding-top: 5vw;
		button { width: 100%; }
	}

	&._disabled {
		button {
			color: grey;
			border-color: grey;
		}
	}

	button, span {

		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 44vw;
		margin: initial;
		cursor: pointer;
		background-color: transparent;
		color: white;
		border: 1px solid white;

		@media screen and (min-width: 769px) {
			width: px_from_vw(44);
			height: px_from_vw(13);
			line-height: px_from_vw(12.2);
			font-size: px_from_vw(4.8);
			padding: px_from_vw(1) px_from_vw(1.6);
			line-height: px_from_vw(1);
			&:hover {
				background: white;
				color: black;
			}
		}

	}

	@media screen and (max-width: 768px) {
		height: 13vw !important;
		line-height: 12.2vw;
		font-size: 4.8vw;
		button, span {
			@include trusty_mobile_button_not_width;
		}
	}

}



