.trusty_font_error {
  font-family: Gotham_Pro;
  color: #ff3950;
  line-height: 1rem;
  i,span,div {
    color: #ff3950;
    font-style: initial;
  }
}

.main_padding {
  @include trusty_main_padding;
}

.main_centered_container {
  @media screen and (min-width: 769px){
    margin: 0 auto;
    max-width: 80%;
  }
}



p.trusty_big_font {
	text-align: center;
  margin: .2vw;
  font-family: Gotham_Pro;
  font-size: 7vw;

  @media screen and (min-width: 769px){
 		font-size: px_from_vw(7);
 		margin: px_from_vw(.2);
  }

}

._bottom_fixed {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
}

.trusty_buttons {

  text-align: center;

  button {
    display: inline-block;
    color: white;
    cursor: pointer;
    font-family: "Gotham_Pro_Regular";
    margin-bottom: 0px !important;
    font-weight: bold;
    line-height: initial !important;
    color: #2a2a2a;

    @media screen and (min-width: 769px) {
			padding: initial;
      width: 100%;
      font-size: px_from_vw(5);
      background: white;
      height: px_from_vw(13);
    }


    @media screen and (max-width: 768px) {
      padding: initial !important;
      width: 100%;
      font-size: 5vw;
      background: white !important;
      height: 13vw !important;
    }

    &._grey_style {
      border: 1px solid grey;
      color: grey;
    }
  }
}


@media screen and (max-width: 768px) {
  *._desk, {display:none !important;}
}

@media screen and (min-width: 769px) {
	*._mob{display:none !important;}
}

*._yellow {
	color: #fdf101 !important;
}
*._hide {
	display: none;
}

*._text_center {
	text-align: center;
}

*._text_left {
  text-align: left;
}

*._text_right {
  text-align: right;
}

*._visibilitness {
	opacity: 0;
}

*._full_width {
  width: 100%;
}

button:focus, button:active {
	outline: none;
}

br.desk {
	display: none;
}

@media screen and (min-width: 769px) {
	br.mob {
		display: none;
	}
	br.desk {
		display: inline-block;
	}
}


