@import "./mixins";
@import "./fonts/fonts";
@import "./framework";
@import "./buttons";



* {
	-webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
  -webkit-overflow-scrolling: touch;
}


body {
	background: #1e2225;
}

html, body, #trusty-app {
	height: 100%;
}

#trusty-app {

	@media screen and (min-width: 769px){
		width: $desk_window_width + px;
		height: 667px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
	}
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

button {
	background: transparent;
	outline: none;
	border: none;
	text-transform: uppercase;
}

p, span, h1, h2, h3, h4 {
	color: white;
}

._trusty_hide_input {
	display: none;
}

.trusty_center_vertical_fixed {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}

iframe {
	display: block;
	border: none;
	position: fixed;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: scroll !important;
}

.fake_line_height {
	display: inline-block;
	height: 100%;
}


.trusty_bottom_fix_space {
	margin-bottom: 4.3vw !important;
}

.trusty_owl_loader {
	width: 60vw;
	opacity: .6;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	svg {
		fill: white;
	}
	@media (min-width: 768px) {
		width: 220px;
	}
}


