@import "./mixins";
@import "./fonts/fonts";



* {  
	-webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}



body {
	background: #1e2225;
}

body, html {
	padding: 0;
	margin: 0;
}

button {
	background: transparent;
	outline: none;
	border: none;
	text-transform: uppercase;
}

._trusty_hide_input {
	display: none;
}

.trusty_center_vertical_fixed {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}

iframe {
	display: block;
	border: none;
	position: fixed;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	overflow: scroll !important;
}

.fake_line_height {
	display: inline-block;
	height: 100%;
}


.trusty_font_error {
	font-family: Gotham_Pro;
	color: #ff3950;
	line-height: 1rem;
	i,span,div {
		color: #ff3950;
		font-style: initial;
	}
}

.trusty_bottom_fix_space {
	margin-bottom: 4.3vw !important;
}

.trusty_owl_loader {
	width: 60vw;  
	opacity: .6;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	svg {
		fill: white;
	}
	@media (min-width: 768px) {
		width: 220px;
	}
}


@media screen and (max-width: 750px) {
  *._desk, {display:none !important;}
}

@media screen and (min-width: 751px) {
	*._mob{display:none !important;}
}

*._yellow {
	color: #fdf101 !important;
}
*._hide {
	display: none;
}

*._text_center {
	text-align: center;
}

*._visibilitness {
	opacity: 0;
}

button:focus, button:active {
	outline: none;
}

br.desk {
	display: none;
}

@media screen and (min-width: 750px) {
	br.mob {
		display: none;		
	}
	br.desk {
		display: inline-block;
	}
}


