@media screen and (max-width: 768px) {

  .trusty_input_container.select_input {
    select { font-size: 5.4vw; }
  }

  .trusty_input_container.text_area {

    textarea {
      padding-top: 6vw;
    }

    ._input_space {
      height: 6vw;
      transition: all .2s;
    }
    &.opened_text_area {
    	textarea {
        height: 80%;
      }
      label {
        top: 1vw;
        bottom: initial;
      }
      ._input_space {
        height: 30.5vw;
      }
    }
  }

  .trusty_input_container {
    width: 100%;

    span.fake_option_width {
      font-size: 6.5vw;
    }


    .trusty_arrow_down {
      width: 4.5vw;
      top: 20%;
    }

    ._input_space {
    }

    .trusty_place_holder {
      position: absolute;
      left: 0;
      bottom: 6.8vw;
    }

    .trusty_place_holder.no_opened {
      letter-spacing: .23vw;
      font-size: 4vw;
      bottom: 0;
      padding-bottom: 1.7vw;
    }

    label {
      font-size: 2.5vw;
      margin-bottom: 0 !important;
    }

    select {
      font-size: 6.5vw;
      color: white;
    }

    input {
      height: 6.4vw;
      font-size: 5.4vw !important;
    }

    .trusty_input_close {
      padding-bottom: 6vw;
    }

    textarea {
      padding-left: 0;
      font-size: 5.4vw !important;
    }

	  ._simple_text_left {
	    height: 6.4vw;
	    font-size: 5.4vw !important;
	  }

	  ._right_slash {
	    font-size: 5.7vw;
	    margin-bottom: 1.14vw;
	  }

  }
}

