@import "~@/style/mixins";

#trusty_transfer {
  @include trusty_main_padding;
}


.trusty_help_text {
  font-family: Gotham_Pro;
  text-align: center;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {

  #trusty_transfer {
    *._margin_bottom {
      margin-bottom: 6vw;
    }
  }

  .trusty_inline_buttons {
    margin-bottom: 5vw;
  }

  ._clipboard_value {
    margin-top: 2.3vw;
    overflow: scroll;
    span {
       display: table-cell;
       padding-right: 10px;
    }
  }
  .trusty_help_text {
    font-size: 4.8vw;
    line-height: 6vw;
    margin-bottom: 4.1vw;
  }

  .trusty_cutted_address {
    text-align: center;
    font-family: Gotham_Pro_Bold;
    font-size: 6vw;
    line-height: 7vw;
    margin-bottom: 4.1vw;
  }

}


.trusty_deposit_address {
  display: inline-block;
  margin-bottom: get-vw(8px);
}

.trusty_ps_text {

  font-family: Gotham_Pro;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 3.3vw;
    margin: 3.8vw 0;
    line-height: 4.3vw;
  }

}

@media screen and (min-width: 769px) {
  #trusty_transfer {
    display: flex;
    width: 80%;
    margin: 0 auto;

    ._turnover_inputs,
    ._turnover_info {
      flex: 1;
    }
  }
}