@font-face {
  font-family: 'Gotham_Pro_Bold';
  src: url('./fonts/GothamProBold/GothamProBold.woff');
  // src:	url('trusty/fonts/GothamProBold/GothamProBold.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProBold/GothamProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro';
  src: url('./fonts/GothamProLight/GothamProLight.woff');
  // src:	url('./fonts/GothamProLight.ttf') format('truetype'),
  // 			url('./fonts/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro_Medium';
  src: url('./fonts/GothamProMedium/GothamProMedium.woff');
  // src:	url('./fonts/GothamProLight.ttf') format('truetype'),
  // 			url('./fonts/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro_Regular';
  src: url('./fonts/GothamProRegular/GothamProRegular.woff');
  // src:	url('./fonts/GothamProLight.ttf') format('truetype'),
  // 			url('./fonts/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
